<%- include("layout/header") %>

    <main>
        <h1>Who We Are</h1>
        <p>
            We are a all-round online class. <br>
            we teach different subjects which are divided into classes, <br>
            ranging from science to art to commercial all the way to elementary <br>
            starting from JSS 1 to SS 3. <br>
            We also recommend textbooks and video tutorials packed with loads of <br>
            fun, including homeworks and classworks...
        </p>
    </main>
    <%- include("layout/footer") %>