<%- include("layout/header") %>

    <main>
        <h1>Contact Us</h1>
        <p>WE ARE AVAILABLE 24HOURS</p>
                    <h3>Phone</h3>
                    <p>+234-701-678-0941</p>
    
                    <h3>Email</h3>
                    <p>ulesson@gmail.com</p>
                    <p>ulesson@yahoo.com</p>
    </main>
    <%- include("layout/footer") %>