<%- include("layout/header") %>
    <main>
        <h1>What We Do</h1>
        <p>
            We offer online classes and teach different subjects like:
            <li>Mathematics</li>
            <li>English</li>
            <li>Biology</li>
            <li>Economics</li>
            <b>and more...</b>
        </p>

        <p>
            We also recommend textbooks, video tutorials and classworks.
        </p>

    </main>
    <%- include("layout/footer") %>